

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

body {
  background-color: #DCE1E3;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  font-size: 16px;
}

a {
  color: #333;
  text-decoration: none;
}



/* color palette
Red Highlight: #B73225
Blue Minded: #004E7C
Maroon 6: #591COB
Grey Water: #5C5F58
Lighter Grey: #DCE1E3
*/
